<!-- Import PrimeNg stylesheet inside component -->
<link rel="stylesheet" href="/styles.css">

<p-dropdown
    psdDropdown
    [options]="filterOptions"
    [(ngModel)]="filterSelected"
    (change)="filterAnimals()"
    optionLabel="Filter Animal"
></p-dropdown>

<div id="animals-list">
    <div class="animal-card" *ngFor="let animal of animals" (click)="navigateToAnimal(animal.id)">
        <div class="card-header">
            <img [src]="'assets/animals/' + animal.imageName" [alt]="animal.name" [style]="animal.imageStyle">
        </div>
        <div class="card-body">
            <div class="card-info">{{ animal.shortDescription }}</div>
            <div class="properties">
                <div class="favorite" hidden>⭐</div>
                <div class="name">{{ animal.name }}</div>
                <div class="type">{{ animalIcons[animal.type] }}</div>
            </div>
        </div>
    </div>
</div>
